table {
	float: left;
	margin: 50px auto auto 450px;
	position: relative;
	padding-left: 0px;
	padding-bottom: 0px;
	background-color: white;
	
}

li {
	list-style-type: none;
	display: inline-block;
	margin:0;
	padding: 0;

}

a{
	text-decoration: none;
	color:black;
	position: relative;
	line-height: 110px;
	padding: 0 15px;
	height: 110px;
	text-transform: uppercase;
}

/* ======================================== NAVBAR =========================================== */
.navbar{
	background: #046380;
	height: 50px;
	margin-top: -30px;
	position: relative;
	z-index: 100;

}

.navbar::after{
	margin:0;
}

.navbar-menu{
	box-sizing: border-box;
	margin: 0px;

}


.title-primary{
	font-size: 25pt;
	color:#EFECCA;
	font-weight: bold;
	text-align: center;
	left: 570px;
}

.navbar-fixed{
	position: fixed;
	background: #14395D;
	width: 100%;
	top:0;
	left: 0;
	height: 80px;

}


/* ======================================== End ============================================ */